page-geo-note {
  #map {
    height: 100%;
    width: 100%;
  }

  #range {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
  }

}
.loading-md .loading-wrapper {
  background: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
