<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button color="dark" (click)="saveNote()">{{ 'SAVE_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <ion-range #range id="range" style="display:none" [(ngModel)]="radius" min="0" max="5000" (ionChange)="changeRadius()">
    <ion-icon range-left small name="locate"></ion-icon>
    <ion-icon range-right name="locate"></ion-icon>
  </ion-range>

</ion-content>
