<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'SETTINGS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>{{'NOTIFICATION' | translate}}</ion-list-header>

    <!--<ion-item>-->
      <!--<ion-label>{{'ENABLE_SOUND' | translate}}</ion-label>-->
      <!--<ion-toggle #soundToggle [checked]="settings.isEnableSoundNotification" (ionChange)="setSound(soundToggle.value)"></ion-toggle>-->
    <!--</ion-item>-->

    <ion-item>
      <ion-label>{{'ON_LEAVE' | translate}}</ion-label>
      <ion-toggle #onLeaveToggle [checked]="settings.isEnableOnLeaveNotification" (ionChange)="setOnLeave(onLeaveToggle.value)"></ion-toggle>
    </ion-item>

    <ion-list-header>{{'GENERAL' | translate}}</ion-list-header>

    <button ion-item (click)="openLanguages()">
      <ion-icon name="globe" item-left></ion-icon>
      <ion-label>{{'LANGUAGE' | translate}}</ion-label>
    </button>

  </ion-list>
</ion-content>
