page-note {
  ion-fab {
    position: absolute;
    bottom: 5vmin;
    right: 5vmin;
  }
  .text-input.text-input-md, .text-input.text-input-ios, .text-input {
    margin: 13px 15px 0;
  }
  .ql-container {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 5vmin;
  }
  ion-input {
    font-size: 5.2vmin;
  }

  div.ql-editor.ql-blank::before {
    color: #999;
    font-style: normal;
  }
  .ql-formats button.ql-list, .ql-formats button.ql-image  {
    display: none;
  }

}

@media (min-width: 768px) {
  page-note {
    .ql-container {
      font-size: 3.1vmin;
    }
    ion-input {
      font-size: 3.9vmin;
    }
  }
}

@media (min-width: 1024px) {
  page-note {
    .ql-container {
      font-size: 2.7vmin;
    }
    ion-input {
      font-size: 3.2vmin;
    }
  }
}
