<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button icon-only clear color="dark" (click)="addList()">
      <ion-icon name="list-box"></ion-icon>
    </button>
    <button ion-button icon-only clear color="dark" (click)="addImage()">
      <ion-icon name="image"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button color="dark" (click)="saveNote()">{{ 'SAVE_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="note.title" placeholder="{{ 'TITLE' | translate}}" clearInput maxlength="63"></ion-input>
  <div  id="noteArea"></div>
</ion-content>
<!--<ion-fab>-->
  <!--&lt;!&ndash;<button ion-fab side="bottom"><ion-icon name="add"></ion-icon></button>&ndash;&gt;-->
<!--</ion-fab>-->
